.hours-today {
  background-color: #e0e9f6;
}
.hours-today h2 {
  font-weight: bold;
  display: flex;
  margin-bottom: 0;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.hours-today h2 span {
  margin-left: 0.5rem;
}
a.hours-today__all-hours {
  color: #0033a0 !important;
  display: block;
}
a.hours-today__all-hours:hover {
  color: black !important;
}

.hours-today__inner > div {
  margin-bottom: 0.5rem;
}

.hours-today__hours {
  font-weight: bold;
  font-size: 1.25rem;
}
.hours-today__location-hours {
  display: none;
}

.hours-today select {
  border: none;
  min-width: 23.5rem;
  font-size: 1.2rem;
  padding: 0.75rem;
}

@media only screen and (min-width: 50rem) {
  .hours-today__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hours-today__inner > div {
    margin-left: 1rem;
    margin-bottom: 0;
  }
  .hours-today__all-hours {
    padding: 0.75rem 1rem;
    border-left: 1px solid #0033a0;
  }
  .hours-today h2 {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 80rem) {
  .hours-today .slab {
    padding: 4.75rem 0;
  }
}
