.apple-promo-grid {
  display: grid;
}

.apple-promo-grid--gap-tight {
  gap: 16px;
}

.apple-promo-grid--gap-normal {
  gap: 24px;
}

.apple-promo-grid--gap-roomy {
  gap: 36px;
}

.apple-promo-grid--cols-2 {
  grid-template-columns: 1fr;
}

.apple-promo-grid--cols-3 {
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  .apple-promo-grid--cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .apple-promo-grid--cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
