{# This is out of date! Look at views-view.html.twig and views-view-unformatted.html.twig for a better version. #}

<div
  class="view-content view-snap hide-scrollbar-x hg:grid hg:snap-x hg:snap-mandatory hg:grid-cols-[272px_248px_272px] hg:gap-6 hg:overflow-x-auto hg:sm:container hg:sm:mx-auto hg:sm:snap-none hg:sm:grid-cols-3 hg:sm:overflow-x-visible hg:sm:px-6 hg:lg:gap-8"
>
  {{ rows }}
</div>
